<!DOCTYPE html>
<html>
  <head>
    <title>ActionViewComponent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="avc-page">
    <%= render(Sidebar, title: "Action View Component") do %>
      <%= render(SidebarLink, link: "#", title: "Sidebar link 1") %>
      <%= render(SidebarLink, link: "#", title: "Sidebar link 2") %>
      <%= render(SidebarLink, link: "#", title: "Sidebar link 3") %>
      <%= render(SidebarLink, link: "#", title: "Sidebar link 4") %>
    <% end %>
    <div class="avc-stage">
      <%= yield %>
    </div>
  </body>
</html>
